@charset "UTF-8";
/*---
全体共通
---*/
html {
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
}

p {
  font-size: 2.4rem;
  line-height: 1.8;
  font-weight: 400;
}
@media screen and (max-width: 1640px) {
  p {
    font-size: 2.0rem;
  }
}
@media screen and (max-width: 500px) {
  p {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 3.2rem;
  line-height: 1.5;
}
@media screen and (max-width: 1640px) {
  h3 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
}

.BeVietnamPro {
  font-family: "Be Vietnam Pro", sans-serif;
}

.noto-serif {
  font-family: "Noto Serif JP", serif;
}

a {
  transition: all 0.15s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

.mb_86 {
  margin-bottom: 86px;
}
@media screen and (max-width: 1640px) {
  .mb_86 {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .mb_86 {
    margin-bottom: 40px;
  }
}

.section {
  padding: 0 0 80px;
}
@media screen and (max-width: 1640px) {
  .section {
    padding: 0 0 60px;
  }
}

.inner {
  max-width: 100%;
  width: 1460px;
  padding: 0 80px;
  margin: auto;
}
@media screen and (max-width: 1640px) {
  .inner {
    width: 1280px;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 500px) {
  .inner {
    padding: 0 20px;
  }
}

.new-inner {
  max-width: 100%;
  width: 1460px;
  padding: 0 40px;
  margin: auto;
}
@media screen and (max-width: 1640px) {
  .new-inner {
    width: 1280px;
  }
}
@media screen and (max-width: 768px) {
  .new-inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 500px) {
  .new-inner {
    padding: 0 20px;
  }
}
.sec-title,
.new-sec-title {
  margin-bottom: 86px;
}
.past-event-title {
  margin-bottom: 24px !important;
}
@media screen and (max-width: 1640px) {
  .sec-title,
  .new-sec-title {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .sec-title,
  .new-sec-title {
    margin-bottom: 32px;
  }
}
.sec-title h2 {
  font-size: 4rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #007CD6, #00072B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
  line-height: 1;
}
.new-sec-title h2 {
  font-size: 4rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #FCA9BB, #F85F80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05em;
  line-height: 1;
}
@media screen and (max-width: 1640px) {
  .sec-title h2,
  .new-sec-title h2 {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 768px) {
  .sec-title h2,
  .new-sec-title h2 {
    font-size: 3.2rem;
  }
}

.center {
  text-align: center;
  margin: auto;
  width: fit-content;
  display: block;
}
/* 参加申込ボタン */
.apply-btn {
  background-color: #34A5DE;
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  margin: auto;
  margin-top: 86px;
  padding: 16px;
  display: block;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .apply-btn {
    max-width: 360px;
    border-radius: 4px;
    padding: 12px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 500px) {
  .apply-btn {
    max-width: 79%;
    margin-top: 40px;
  }
}
.apply-btn p {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1640px) {
  .apply-btn p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .apply-btn p {
    font-size: 1.6rem;
  }
}
.apply-btn p img {
  width: 26px;
  margin-left: 12px;
  margin-top: 2px;
}
@media screen and (max-width: 1640px) {
  .apply-btn p img {
    width: 20px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 1640px) {
  .apply-btn a {
    padding: 16px 40px;
  }
}
@media screen and (max-width: 768px) {
  .apply-btn a {
    padding: 12px 20px;
  }
}
/* 2024年度版を見るボタン */
.detail-btn {
  background-color: #F97F99;
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
  margin: auto;
  padding: 8px 10px;
  display: block;
  color: #fff;
  font-size: 2rem;
  line-height: 1.8;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .detail-btn {
      font-size: 1.8rem;
  }
}
/*---
header
---*/
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  background: linear-gradient(135deg, #FCA9BB, #F85F80);
}
@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }
}
.header .inner {
  width: 100%;
  height: 100%;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .header .inner {
    padding: 0 20px;
  }
}
.header .new-inner {
  width: 100%;
  height: 100%;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .header .new-inner {
    padding: 0 20px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  height: 52px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    height: 32px;
  }
}
.header__logo img {
  height: 100%;
}
.header #menu-header_menu {
  display: flex;
  letter-spacing: 0.15em;
  height: 80px;
}
@media screen and (max-width: 1200px) {
  .header #menu-header_menu {
    display: none;
  }
}
.header #menu-header_menu p,
a.program-menu {
  font-size: 1.6rem;
}
@media screen and (max-width: 500px) {
  .header #menu-header_menu p,
  a.program-menu {
    font-size: 1.4rem;
  }
}
.header #menu-header_menu a {
  display: block;
  padding: 0 20px;
}
@media screen and (max-width: 1640px) {
  .header #menu-header_menu a {
    padding: 0 12px;
  }
}
.header #menu-header_menu a:hover {
  opacity: 1;
}
.header #menu-header_menu .menu-item {
  display: flex;
  align-items: center;
}
.header #menu-header_menu .menu-item::after {
  content: "/";
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
}
.header #menu-header_menu .menu-item:last-child::after {
  display: none;
}
.header #menu-header_menu .menu_jp {
  color: #fff;
  text-align: center;
  padding: 5px;
  line-height: 1;
}
.header .menu-header_hamburger-btn {
  display: none;
}
.header .menu-header_hamburger-btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .header .menu-header_hamburger-btn {
    width: 32px;
    display: grid;
    align-items: center;
    gap: 6px;
  }
}
@media screen and (max-width: 500px) {
  .header .menu-header_hamburger-btn {
    width: 28px;
    gap: 5px;
  }
}
.header .menu-header_hamburger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header__privacy {
  font-size: 1.3rem;
  font-weight: 400;
}

/* 「プログラム」プルダウンメニュー基本非表示 */
.program-menu.menu-item-has-children {
  position: relative;
}
.popmenu {
  max-height: 0;
  display: none;
  overflow: hidden;
  position: absolute;
  top: 6em;
  left: 190px;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: all 0.3s ease-in;
  z-index: 999;
}
.popmenu ul {
  display: block;
  background-color: #F97F99;
  border-radius: 0 0 10px 10px;
  margin: 20px 0;
  padding: 16px;
  position: relative;
}
.popmenu ul li {
  font-size: 1.6rem;
  margin: 0 0 15px 0;
  position: relative;
}
.popmenu ul li a {
  color: #FFFFFF;
  transition: 0.2s;
}
.popmenu ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
@keyframes popmenushow {
  from {
    opacity: 0;
    transform: translateX(-55%) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
}
li:hover .popmenu {
  display: block;
  animation: popmenushow 0.3s linear 0s;
  max-height: 9999px;
}

/* 親メニューのスタイル */
.menu-item > a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu_jp,
a.program-menu {
  margin: 0;
  font-weight: bold;
}

/*---ヘッダーモーダル---*/
/* 2024年度版ヘッダー */
.modal-header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: linear-gradient(135deg, #FCA9BB, #F85F80);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding: 0 60px;
  z-index: 9999;
}
@media screen and (max-width: 1640px) {
  .modal-header {
    height: 80px;
  }
}
.past-modal-title {
  text-align: center;
  width: 100%;
  font-size: 2.4rem;
}
@media screen and (max-width: 500px) {
  .past-modal-title {
    font-size: 2rem;
  }
}
#close-past-event-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 10000;
}
@media screen and (max-width: 1640px) {
  #close-past-event-modal {
    top: 16px;
  }
}
/* 閉じるボタン */
#close-past-event-modal .close-icon {
  font-size: 3.2rem;
  line-height: 1;
}
#close-past-event-modal .close-label {
  font-size: 1rem;
  margin-top: 0.2rem;
  text-align: center;
}

#close-past-event-modal .close-label {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .modal-header {
    height: 60px;
    padding: 0 40px;
  }
  .past-modal-title {
    font-size: 20px;
  }
  #close-past-event-modal .close-label {
    display: none;
  }
  #close-past-event-modal {
    top: 16px;
    right: 16px;
  }
  #close-past-event-modal .close-icon {
    font-size: 2.4rem;
  }
  
}
.event-intro-section {
  background-color: #FFF2F5;
  height: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 100px;
}
@media screen and (max-width: 1640px) {
  .event-intro-section {
    height: 260px;
    padding-top: 80px;
  }
}
@media screen and (max-width: 500px) {
  .event-intro-section {
    height: 200px;
    gap: 10px;
    padding-top: 60px;
  }
}
.event-intro-title {
  color: #F97F99;
  font-size: 6.8rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1;
}
@media screen and (max-width: 1640px) {
  .event-intro-title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 500px) {
  .event-intro-title {
    font-size: 3.2rem;
  }
}
.event-intro-description {
  font-size: 2.4rem;
  line-height: 1.6;
  padding: 0 16px;
}
@media screen and (max-width: 500px) {
  .event-intro-description {
    font-size: 2rem;
  }
}

/*---ヘッダーモーダル---*/
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  height: 100dvh;
  overflow: scroll;
}

.modalBg {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #FCA9BB, #F85F80);
  color: #fff;
  position: relative;
}
.modalBg .copyright {
  font-size: 1.3rem;
  position: absolute;
  bottom: 16px;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .modalBg .copyright {
    padding: 0 30px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .modal__header {
    height: 60px;
    padding: 0 20px;
  }
}

.closeModal {
  cursor: pointer;
  width: 28px;
}
@media screen and (max-width: 500px) {
  .closeModal {
    width: 24px;
  }
}

.modalContents {
  display: grid;
  gap: 6vh;
  margin-top: 8vh;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .modalContents {
    padding: 0 30px;
  }
}
@media screen and (max-width: 410px) {
  .modalContents {
    padding: 0 24px;
  }
}

.modal-menu__en {
  font-size: 2rem;
  line-height: 1;
}
.modal-menu__logo {
  width: 120px;
  display: block;
  margin: auto;
  padding: 20px;
}
.modal-menu__privacy {
  display: block;
  background-color: #222;
  width: 100%;
  padding: 10px;
}
.modal-menu__privacy p {
  font-family: "Koulen", sans-serif;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .modal-menu__privacy p {
    font-size: 1.6rem;
  }
}

.modal-submenu {
  margin-top: 20px;
  padding-left: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.modal-submenu li {
  position: relative;
  padding-left: 1em;
  font-size: 1.6rem;
  line-height: 1.6;
}
.modal-submenu li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #fff;
  font-size: 1.6rem;
  top: 0;
  line-height: 1.6;
}
.modal-submenu li a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
.modal-submenu li a:hover {
  opacity: 0.7;
}


/*---
footer
---*/
.footer {
  background: linear-gradient(135deg, #FCA9BB, #F85F80);
  color: #fff;
  padding: 68px 0;
}
@media screen and (max-width: 1640px) {
  .footer {
    padding: 52px 0;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    padding: 32px 0;
  }
}
.footer .inner {
  width: 1920px;
  padding: 0 100px;
}
@media screen and (max-width: 1640px) {
  .footer .inner {
    padding: 0 80px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 500px) {
  .footer .inner {
    padding: 0 30px;
  }
}
@media screen and (max-width: 380px) {
  .footer .inner {
    padding: 0 24px;
  }
}
.footer .new-inner {
  width: 1920px;
  padding: 0 100px;
}
@media screen and (max-width: 1640px) {
  .footer .new-inner {
    padding: 0 80px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .new-inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 500px) {
  .footer .new-inner {
    padding: 0 30px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media screen and (max-width: 1100px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }
}
.footer__sitemap {
  display: grid;
  gap: 10px;
}
@media screen and (max-width: 1100px) {
  .footer__sitemap {
    gap: 0px;
  }
}
/* 修正 */
.footer__info h3 {
  font-size: 2.4rem !important;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1640px)  {
  .footer__info h3 {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 1100px)  {
  .footer__info h3 {
    font-size: 1.4rem !important;
  }
}
.footer__info h3 img {
  width: 70px;
  margin-right: 28px;
}
@media screen and (max-width: 1640px) {
  .footer__info h3 img {
    width: 48px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 768px) {
  .footer__info h3 img {
    width: 36px;
    margin-right: 8px;
  }
}
@media screen and (max-width: 768px) {
  .footer__infop h3 p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}
.footer__sitemap ul {
  display: grid;
  gap: 28px;
  margin-left: 100px;
}
@media screen and (max-width: 1640px) {
  .footer__sitemap ul {
    gap: 20px;
    margin-left: 65px;
  }
}
@media screen and (max-width: 1100px) {
  .footer__sitemap ul {
    margin-left: 0;
  }
}
.footer__sitemap ul li a {
  display: flex;
  align-items: center;
}
ul.footer-submenu {
  list-style: disc;
  font-size: 2.0rem;
  margin: 20px 0 0 30px;
}
@media screen and (max-width: 1640px) {
  ul.footer-submenu {
    font-size: 1.6rem;
    margin: 16px 0 0 30px;
  } 
}
.footer__sitemap ul li p {
  line-height: 1;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .footer__sitemap ul li p {
    font-size: 2rem;
  }
}
.footer #footer__privacy p {
  font-size: 1.6rem;
}
@media screen and (max-width: 1640px) {
  .footer #footer__privacy p {
    font-size: 1.3rem;
  }
}
.footer__info {
  display: grid;
  gap: 20px;
}
@media screen and (max-width: 1640px) {
  .footer__info {
    gap: 16px;
  }
}
.footer__info p {
  font-size: 2rem;
}
@media screen and (max-width: 1640px) {
  .footer__info p {
    font-size: 1.5rem;
  }
}
.footer__info__operator .contact {
  margin-left: 60px;
}
@media screen and (max-width: 1640px) {
  .footer__info__operator .contact {
    margin-left: 46px;
  }
}
@media screen and (max-width: 768px) {
  .footer__info__operator .contact {
    margin-left: 0;
    width: calc(100% - 46px);
    margin: 0 0 0 auto;
    font-size: 1.3rem;
  }
}
.footer__info .note {
  font-size: 1.4rem;
  margin-bottom: 4px;
}
@media screen and (max-width: 1640px) {
  .footer__info .note {
    font-size: 1.2rem;
  }
}
.footer__info .copyright {
  font-size: 1.5rem;
}
@media screen and (max-width: 1640px) {
  .footer__info .copyright {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 540px) {
  .footer__info .copyright {
    font-size: 1.1rem;
  }
}