@charset "UTF-8";
/*---
ABOUT
---*/
#past-event-modal {
  overflow-y: auto;
  scroll-behavior: smooth;
}
.about {
  scroll-margin-top: 160px;
}
@media screen and (max-width: 1640px) {
  .about {
    scroll-margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    scroll-margin-top: 80px;
  }
}
.about::before {
  content: "";
  background-image: url("../../assets/images/bg01.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 17%;
  height: 26vw;
  display: block;
  position: absolute;
  top: 12.5%;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .about::before {
    width: 30%;
    height: 26vw;
    top: -4%;
  }
}
@media screen and (max-width: 768px) {
  .about::before {
    width: 26%;
    right: -6vw;
    top: -2%;
  }
}
@media screen and (max-width: 500px) {
  .about::before {
    width: 40%;
    height: 44vw;
    top: -1%;
  }
}
.about.section {
  margin-top: 4vw;
}
@media screen and (max-width: 1640px) {
  .about.section {
    margin-top: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .about.section {
    margin-top: 5vw;
  }
}
.about h3 {
  margin-bottom: 16px;
  font-weight: 700;
}
.about__program {
  padding-bottom: 120px;
}
.about__program__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: solid 2px #000;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .about__program__title {
    font-size: 1.6rem;
    margin-bottom: 16px;
  }
}
.about__program__number {
  font-size: 4.8rem;
  background: linear-gradient(to right, #007CD6, #00072B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
@media screen and (max-width: 1640px) {
  .about__program__number {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1640px) {
  .about__program__number {
    font-size: 3.6rem;
  }
}
.about__program ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}
@media screen and (max-width: 1640px) {
  .about__program ul {
    gap: 4%;
  }
}
@media screen and (max-width: 1000px) {
  .about__program ul {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
.about__program ul li {
  position: relative;
}
.about__program ul li::after {
  content: "";
  background-image: url("../../assets/images/about_arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 32px;
  position: absolute;
  top: 60%;
  right: -10%;
}
@media screen and (max-width: 1640px) {
  .about__program ul li::after {
    width: 12px;
    height: 28px;
    right: -8%;
  }
}
@media screen and (max-width: 1000px) {
  .about__program ul li::after {
    transform: rotate(90deg);
    top: inherit;
    bottom: -40px;
    right: 50%;
  }
}
.about__program ul li:last-child:after {
  display: none;
}
.about__program__box {
  border-radius: 16px;
  color: #fff;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  height: 100%;
}
@media screen and (max-width: 1640px) {
  .about__program__box {
    padding: 24px 20px;
  }
}
@media screen and (max-width: 1000px) {
  .about__program__box {
    height: inherit;
    border-radius: 8px;
    gap: 16px;
  }
}
.about__program__box .title {
  display: inline-block;
  font-size: 1.4rem;
  border: solid 1px #fff;
  border-radius: 4px;
  padding: 0 24px;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  margin: 8px auto 0;
}
@media screen and (max-width: 768px) {
  .about__program__box .title {
    font-size: 1.3rem;
  }
}
.about__program__box .small {
  font-size: 1.2rem;
}
.about__program__box .date {
  font-size: 2rem;
  border-bottom: solid 1px #fff;
  display: inline-block;
  font-weight: 500;
  width: fit-content;
  margin: auto;
  z-index: 1;
}
@media screen and (max-width: 1640px) {
  .about__program__box .date {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .about__program__box .date {
    font-size: 1.6rem;
  }
}
.about__program__box .date span {
  font-size: 120%;
}
.about__program__box .category {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2px;
  position: relative;
  z-index: 1;
}
.about__program__box .name {
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1640px) {
  .about__program__box .name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1120px) {
  .about__program__box .name {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 1000px) {
  .about__program__box .name {
    font-size: 2rem;
  }
}
.about__program__box .detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.about__program__box .detail p {
  font-size: 1.6rem;
}
@media screen and (max-width: 1640px) {
  .about__program__box .detail p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .about__program__box .detail p {
    font-size: 1.3rem;
  }
}
.about__program__box .detail img {
  width: 16px;
  margin-left: 6px;
  margin-top: 2px;
}
.about__program__img {
  position: absolute;
  background: linear-gradient(135deg, #007CD6, #00072B);
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 16px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .about__program__img {
    border-radius: 8px;
  }
}

.modal-open {
  overflow: hidden;
}

/*---
ISSUE
---*/
.issue {
  background-image: url("../../assets/images/issue_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 100px 0;
  margin-bottom: 200px;
}
@media screen and (max-width: 1640px) {
  .issue {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  .issue {
    padding: 60px 0;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 500px) {
  .issue {
    background-image: url("../../assets/images/issue_bg_sp.jpg");
  }
}
.issue__title {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
  color: #fff;
}
@media screen and (max-width: 1640px) {
  .issue__title {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 768px) {
  .issue__title {
    font-size: 2.8rem;
  }
}
.issue__title .pc-none {
  display: none;
}
@media screen and (max-width: 500px) {
  .issue__title .pc-none {
    display: block;
  }
}
.issue__description {
  text-align: center;
  margin-bottom: 52px;
  color: #fff;
}
@media screen and (max-width: 1640px) {
  .issue__description {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .issue__description {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }
}
.issue__description .pc-none {
  display: none;
}
@media screen and (max-width: 500px) {
  .issue__description .pc-none {
    display: block;
  }
}
.issue__sub-title {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 52px;
}
@media screen and (max-width: 500px) {
  .issue__sub-title {
    margin-bottom: 32px;
  }
}
.issue__sub-title__line {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 1px;
}
.issue__sub-title h3 {
  text-align: center;
  font-weight: 600;
  width: fit-content;
  min-width: fit-content;
  padding: 0 24px;
}
@media screen and (max-width: 500px) {
  .issue__sub-title h3 {
    font-size: 2rem;
    padding: 8px;
  }
}
.issue__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.8vw;
  margin-bottom: 52px;
}
@media screen and (max-width: 1000px) {
  .issue__list {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .issue__list {
    grid-template-columns: 1fr;
    max-width: 360px;
    margin: auto;
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 500px) {
  .issue__list {
    margin-bottom: 32px;
  }
}
.issue__item {
  display: block;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 35px 14% 80px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .issue__item {
    padding: 26px 14% 80px;
  }
}
.issue__item__company {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 1640px) {
  .issue__item__company {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .issue__item__company {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
}
.issue__item__text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.6;
}
@media screen and (max-width: 1640px) {
  .issue__item__text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .issue__item__text {
    font-size: 1.8rem;
  }
}
.issue__item ol {
  font-size: 1.6rem;
}
.issue__item ol li {
  font-weight: 600;
  font-size: 2.4rem;
}
.issue__item ol li p {
  text-indent: -1em;
  padding-left: 1em;
}
.issue__item .detail {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px #222;
  width: 72%;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  padding: 6px;
}
@media screen and (max-width: 768px) {
  .issue__item .detail {
    font-size: 1.4rem;
  }
}
.issue__item .detail img {
  width: 16px;
  margin: -2px 0 0 4px;
}
.issue .apply-btn {
  margin-top: 0;
}

.issue__modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: -100vh;
  color: #222;
  z-index: 10;
  background: #fff;
  overflow-y: auto;
  transition: bottom 0.5s ease;
}
.issue__modal.show {
  bottom: 0;
  display: block;
}
.issue__modal__wrapper {
  position: relative;
}
.issue__modal__bg {
  background-image: url("../../assets/images/issue_modal_bg.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 96vw;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .issue__modal__bg {
    background-image: url("../../assets/images/issue_modal_bg_sp.png");
    background-position: bottom left;
    height: 100%;
  }
}
.issue__modal .inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .issue__modal .inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.issue__modal__company {
  border-bottom: solid 1px #222;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .issue__modal__company {
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 500px) {
  .issue__modal__company {
    margin-bottom: 40px;
  }
}
.issue__modal__company h5 {
  font-size: 2.4rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .issue__modal__company h5 {
    font-size: 2rem;
  }
}
.issue__modal__company img {
  height: 130px;
}
@media screen and (max-width: 768px) {
  .issue__modal__company img {
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 500px) {
  .issue__modal__company img {
    height: 100px;
    margin-bottom: 16px;
  }
}
.issue__modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8%;
}
@media screen and (max-width: 768px) {
  .issue__modal__content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.issue__modal__content ul {
  display: grid;
  gap: 60px;
}
@media screen and (max-width: 500px) {
  .issue__modal__content ul {
    gap: 32px;
  }
}
.issue__modal__content ul li {
  display: grid;
  gap: 32px;
}
@media screen and (max-width: 500px) {
  .issue__modal__content ul li {
    gap: 24px;
  }
}
.issue__modal__content h3 {
  font-weight: 600;
}
.issue__modal__content h6 {
  color: #0094FF;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 8px;
}
@media screen and (max-width: 500px) {
  .issue__modal__content h6 {
    font-size: 1.6rem;
  }
}
.issue__modal__close {
  position: absolute;
  top: 16px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
}
.issue__modal__close span {
  font-size: 3.2rem;
  font-weight: 400;
}

/*---
SEMINAR・EVENT
---*/
.seminar-event {
  position: relative;
}
@media screen and (max-width: 500px) {
  .seminar-event .inner {
    padding: 0 16px;
  }
}
.seminar-event__wrapper {
  padding: 110px 0 86px;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 1640px) {
  .seminar-event__wrapper {
    padding: 80px 0;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__wrapper {
    padding: 40px 0;
  }
}
.seminar-event__wrapper .sec-title {
  width: 580px;
  border-top: 74px solid #fff;
  border-right: 50px solid transparent;
  position: relative;
  margin-bottom: 80px;
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .seminar-event__wrapper .sec-title {
    width: 520px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__wrapper .sec-title {
    width: 440px;
    max-width: 96%;
    margin-bottom: 40px;
    border-top: 60px solid #fff;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__wrapper .sec-title {
    border-right: 40px solid transparent;
    border-top: 52px solid #fff;
  }
}
.seminar-event__wrapper .sec-title h2 {
  font-size: 3.6rem;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: -53px;
}
@media screen and (max-width: 1100px) {
  .seminar-event__wrapper .sec-title h2 {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__wrapper .sec-title h2 {
    font-size: 2.8rem;
    top: -43px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__wrapper .sec-title h2 {
    font-size: 2.4rem;
    left: 16px;
    top: -38px;
  }
}
.seminar-event__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  background: linear-gradient(135deg, #007CD6, #00072B);
}
@media screen and (max-width: 500px) {
  .seminar-event__bg {
    border-radius: 16px;
  }
}
.seminar-event__content {
  padding: 0 120px;
  position: relative;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content {
    padding: 0 80px;
  }
}
@media screen and (max-width: 1200px) {
  .seminar-event__content {
    padding: 0 40px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content {
    padding: 0 20px;
  }
}
.seminar-event__content .small {
  font-size: 1.2rem;
}
.seminar-event__content h3 {
  font-size: 2rem;
  line-height: 2;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content h3 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content h3 {
    font-size: 1.4rem;
  }
}
.seminar-event__content h3 .pc-none {
  display: block;
}
@media screen and (max-width: 1100px) {
  .seminar-event__content h3 .pc-none {
    display: none;
  }
}
.seminar-event__content__flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1100px) {
  .seminar-event__content__flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__content__flex {
    gap: 32px;
  }
}
.seminar-event__content__flex__date {
  margin-top: 16px;
  letter-spacing: 0.1em;
}
.seminar-event__content__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 56px;
  align-items: start;
}
@media screen and (max-width: 1100px) {
  .seminar-event__content__wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__wrapper {
    gap: 32px;
  }
}
.seminar-event__content__img {
  width: 100%;
  max-width: 40%;
  height: 100%;
  border-radius: 24px;
}
@media screen and (max-width: 1100px) {
  .seminar-event__content__img {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__img {
    border-radius: 16px;
  }
}
.seminar-event__content__thema {
  width: fit-content;
  margin: auto;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  border-bottom: solid 1px #fff;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__thema {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__content__thema {
    font-size: 2.4rem;
  }
}
.seminar-event__content__thema .pc-none {
  display: none;
}
@media screen and (max-width: 1100px) {
  .seminar-event__content__thema .pc-none {
    display: block;
  }
}
.seminar-event__content__thema__title {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .seminar-event__content__thema__title {
    margin-bottom: 32px;
  }
}
.seminar-event__content__thema__title .small {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 8px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__thema__title .small {
    font-size: 1.6rem;
  }
}
.seminar-event__content__item {
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  padding: 0 2em;
  display: inline-block;
  border-radius: 100px;
  margin-bottom: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__item {
    margin-bottom: 16px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__content__item {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}
.seminar-event__content__program {
  display: grid;
  gap: 20px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__program {
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__program {
    gap: 8px;
  }
}
.seminar-event__content__program li {
  display: flex;
  align-items: baseline;
  border-bottom: solid 1px #fff;
  padding-bottom: 20px;
  font-weight: 500;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__program li {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__program li {
    padding-bottom: 8px;
  }
}
.seminar-event__content__program li p {
  line-height: 1.6;
}
.seminar-event__content__time {
  font-size: 2rem;
  margin-right: 20px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__time {
    font-size: 1.6rem;
    margin-right: 24px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__content__time {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__time {
    margin-right: 12px;
    min-width: fit-content;
  }
}
.seminar-event__content__date {
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 600;
  border-bottom: solid 1px #fff;
  padding-bottom: 12px;
  margin-bottom: 4px;
}
.seminar-event__content__date span {
  font-size: 4rem;
  margin-left: 10px;
  margin-right: 4px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__date span {
    font-size: 2.4rem;
    margin-left: 4px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__content__date span {
    font-size: 2rem;
  }
}
.seminar-event__content__online {
  font-weight: 600;
  line-height: 1.3;
}
.seminar-event__content__place {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.6;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__place {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__place {
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
.seminar-event__content__place span {
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__place span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__place span {
    display: block;
  }
}
.seminar-event__content__gmap {
  font-size: 2rem;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__gmap {
    font-size: 1.4rem;
    margin-top: 14px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__content__gmap {
    border-radius: 4px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__gmap {
    font-size: 1.3rem;
  }
}
.seminar-event__content__gmap img {
  width: 20px;
  margin-left: 12px;
  margin-top: 1px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__gmap img {
    width: 16px;
    margin-left: 8px;
  }
}
.seminar-event__content__right {
  display: grid;
  gap: 40px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__right {
    gap: 32px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__right {
    gap: 24px;
  }
}
.seminar-event__content__speaker__title {
  background-color: #fff;
  font-weight: 600;
  color: #222;
  text-align: center;
  line-height: 100%;
  padding: 24px;
  letter-spacing: 0.1em;
  border-radius: 8px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__speaker__title {
    font-size: 2rem;
  }
}
.seminar-event__content__speaker__subtitle {
  font-weight: 600;
  padding: 32px 0;
  display: flex;
  align-items: center;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  justify-content: center;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__speaker__subtitle {
    font-size: 2rem;
    padding: 28px 0;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__content__speaker__subtitle {
    padding: 16px 0;
  }
}
.seminar-event__content__speaker__subtitle img {
  width: 32px;
  margin-right: 7px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__content__speaker__subtitle img {
    width: 28px;
  }
}
.seminar-event__speaker {
  margin-top: 32px;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .seminar-event__speaker {
    gap: 20px;
  }
}
.seminar-event__speaker li {
  width: calc(33.3333333333% - 25px);
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .seminar-event__speaker li {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__speaker li {
    width: 80%;
    padding: 20px 16px;
  }
}
.seminar-event__speaker li:hover {
  cursor: pointer;
}
.seminar-event__speaker h4 {
  color: #222;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 32px;
  line-height: 1.6;
}
@media screen and (max-width: 1640px) {
  .seminar-event__speaker h4 {
    font-size: 1.8rem;
    margin-top: 8px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1120px) {
  .seminar-event__speaker h4 {
    font-size: 1.6rem;
  }
}
.seminar-event__speaker h4 span {
  font-size: 2rem;
  display: block;
}
@media screen and (max-width: 1640px) {
  .seminar-event__speaker h4 span {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1120px) {
  .seminar-event__speaker h4 span {
    font-size: 1.6rem;
  }
}
.seminar-event__speaker h4 span.city {
  font-weight: 400;
}
.seminar-event__speaker h4.ongrid {
  margin-bottom: 18px;
  margin-top: -6px;
}
@media screen and (max-width: 1640px) {
  .seminar-event__speaker h4.ongrid {
    margin-top: -12px;
    margin-bottom: 15px;
  }
}
.seminar-event__speaker h4.ongrid span {
  display: inline-block;
}
.seminar-event__speaker__img {
  display: inline-block;
  max-width: 100%;
  object-fit: contain;
}
.seminar-event__speaker__arrow {
  width: 16px;
  margin: -2px 0 0 4px;
}
.seminar-event__speaker__more {
  font-size: 1.6rem;
  color: #222;
  line-height: 1;
}
@media screen and (max-width: 500px) {
  .seminar-event__speaker__more {
    font-size: 1.4rem;
  }
}
.seminar-event__speaker .coming-cursor {
  pointer-events: none;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .seminar-event__speaker .coming-cursor {
    min-height: 32vw;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__speaker .coming-cursor {
    min-height: 220px;
  }
}
.seminar-event__speaker__coming {
  color: #B9B9B9;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.seminar-event__speaker__booth {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.8vw;
}
@media screen and (max-width: 1180px) {
  .seminar-event__speaker__booth {
    grid-template-columns: 1fr 1fr;
    max-width: 580px;
    margin: auto;
    margin-top: 32px;
  }
}
@media screen and (max-width: 1000px) {
  .seminar-event__speaker__booth {
    grid-template-columns: 1fr 1fr;
    max-width: inherit;
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__speaker__booth {
    grid-template-columns: 1fr;
  }
}
.seminar-event__speaker__booth li {
  background-color: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 500px) {
  .seminar-event__speaker__booth li {
    width: 80%;
    margin: auto;
  }
}
.seminar-event__speaker__booth li a {
  padding: 16px 12px;
  display: block;
}
@media screen and (max-width: 1000px) {
  .seminar-event__speaker__booth li a {
    padding: 32px 20px;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__speaker__booth li a {
    padding: 20px 16px;
  }
}
.seminar-event__speaker__booth li h4 {
  color: #222;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.seminar-event__description {
  font-size: 2rem;
  text-align: center;
  padding: 40px 0;
}
@media screen and (max-width: 1640px) {
  .seminar-event__description {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .seminar-event__description {
    font-size: 1.4rem;
    padding: 20px 0;
    text-align: left;
  }
}
.seminar-event__coming {
  border: solid 1px #fff;
  padding: 76px 20px;
  opacity: 0.6;
  border-radius: 8px;
  text-align: center;
}
@media screen and (max-width: 1640px) {
  .seminar-event__coming {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__coming {
    padding: 32px 12px;
  }
}
.seminar-event__coming p {
  font-weight: 600;
  letter-spacing: 0.1em;
}
.seminar-event__coming span {
  font-size: 2rem;
  font-weight: 500;
}
@media screen and (max-width: 1640px) {
  .seminar-event__coming span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event__coming span {
    font-size: 1.3rem;
  }
}
.seminar-event.event {
  scroll-margin-top: 160px;
}
@media screen and (max-width: 1640px) {
  .seminar-event.event {
    scroll-margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .seminar-event.event {
    scroll-margin-top: 80px;
  }
}

.modal-open {
  overflow: hidden;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 8px;
}

.speaker__modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #222;
}

.speaker__modal__bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.speaker__modal__content {
  background: #fff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-width: 500px;
  max-height: 90vh;
  overflow: scroll;
  border-radius: 16px;
  padding: 2.4vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 20px;
  z-index: 999;
}
@media screen and (max-width: 500px) {
  .speaker__modal__content {
    padding: 36px 16px 20px;
  }
}
.speaker__modal__content img {
  display: block;
  margin: auto;
  max-width: 86%;
}
.speaker__modal__content__info {
  display: grid;
  gap: 14px;
}
@media screen and (max-width: 768px) {
  .speaker__modal__content__info {
    gap: 10px;
  }
}
.speaker__modal__content__info a {
  text-decoration: underline;
}
.speaker__modal__content__info::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #B9B9B9;
  margin-top: 10px;
  margin-bottom: 4px;
}
@media screen and (max-width: 500px) {
  .speaker__modal__content__info::after {
    margin-bottom: 0;
  }
}
.speaker__modal__content__video::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #B9B9B9;
  margin-top: 4px;
  margin-bottom: 24px;
}
@media screen and (max-width: 500px) {
  .speaker__modal__content__video::before {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.speaker__modal__content__company {
  font-size: 2rem;
  font-weight: 600;
}
.speaker__modal__content p {
  font-size: 1.6rem;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .speaker__modal__content p {
    font-size: 1.4rem;
  }
}
.speaker__modal__content h5 {
  display: inline-block;
  font-size: 1.6rem;
  border: solid 1px #222;
  line-height: 1.8;
  padding: 0 26px;
  border-radius: 100px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .speaker__modal__content h5 {
    font-size: 1.4rem;
    padding: 0 16px;
  }
}
.speaker__modal__content__close {
  position: fixed;
  top: 16px;
  right: 20px;
  display: flex;
  align-items: center;
  color: #B9B9B9;
}
.speaker__modal__content__close span {
  font-size: 3.2rem;
  font-weight: 400;
}

#event::before {
  content: "";
  background-image: url("../../assets/images/bg02.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24%;
  height: 20vw;
  display: block;
  position: absolute;
  top: -6%;
  left: 30px;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  #event::before {
    width: 36%;
    height: 30vw;
    top: -4%;
    left: 16px;
  }
}

#event1::after {
  content: "";
  background-image: url("../../assets/images/bg03.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  height: 14vw;
  display: block;
  position: absolute;
  top: -2.5%;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  #event1::after {
    width: 36%;
    height: 18vw;
    top: -1%;
    right: -16px;
  }
}

/*---
固定ボタン
---*/
.fix-btn {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 32px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1640px) {
  .fix-btn {
    padding: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .fix-btn {
    padding: 12px 0;
  }
}
.fix-btn .apply-btn {
  margin: auto;
  width: 32%;
  min-width: 360px;
  max-width: 640px;
}
@media screen and (max-width: 768px) {
  .fix-btn .apply-btn {
    width: 90%;
    min-width: inherit;
    max-width: 360px;
  }
}
@media screen and (max-width: 500px) {
  .fix-btn .apply-btn {
    max-width: 300px;
  }
}
.fix-btn .apply-btn p {
  font-size: 3.2rem;
  justify-content: center;
}
@media screen and (max-width: 1640px) {
  .fix-btn .apply-btn p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .fix-btn .apply-btn p {
    font-size: 1.6rem;
  }
}

/*---
下層ページ共通
---*/
.page__content {
  padding: 80px 0 200px;
}
@media screen and (max-width: 1640px) {
  .page__content {
    padding: 80px 0 160px;
  }
}
@media screen and (max-width: 500px) {
  .page__content {
    padding: 40px 0 100px;
  }
}

/*---
post(投稿個別ページ）
---*/
.post__head {
  background-image: url("../../assets/images/post_head.webp");
  padding-top: 18%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1620px) {
  .post__head {
    padding-top: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .post__head {
    padding-top: 25%;
  }
}
@media screen and (max-width: 500px) {
  .post__head {
    background-image: url("../../assets/images/post_head_sp.webp");
    padding-top: 40%;
  }
}
.post__head .sec-title {
  position: absolute;
  top: 54%;
}
.post__head .sec-title h2 {
  background: none;
  -webkit-text-fill-color: inherit;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .post__head .sec-title h2 {
    font-size: 2.4rem;
  }
}
.post__content p {
  font-size: 1.6rem;
  margin-top: 20px;
}
@media screen and (max-width: 500px) {
  .post__content p {
    font-size: 1.4rem;
    margin-top: 12px;
  }
}
.post__content__title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .post__content__title {
    font-size: 2.4rem;
    margin-bottom: 28px;
  }
}
.post__content__thumbnail img {
  border-radius: 24px;
}
@media screen and (max-width: 500px) {
  .post__content__thumbnail img {
    border-radius: 16px;
  }
}
.post__content h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 52px;
  line-height: 1.8;
}
@media screen and (max-width: 1640px) {
  .post__content h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .post__content h2 {
    font-size: 1.6rem;
    margin-top: 28px;
  }
}
.post__content a {
  text-decoration: underline;
}
.post p.post__content__date {
  font-size: 2.4rem;
  font-weight: 500;
  color: #00D4D4;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1;
}
@media screen and (max-width: 1640px) {
  .post p.post__content__date {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .post p.post__content__date {
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
}
.post__back-btn {
  font-size: 2rem;
  display: block;
  margin-top: 80px;
  text-decoration: none !important;
}
@media screen and (max-width: 500px) {
  .post__back-btn {
    margin-top: 40px;
  }
}
.post__back-btn p {
  display: flex;
  align-items: center;
}
.post__back-btn p img {
  width: 8px;
  margin-right: 12px;
  margin-top: 2px;
}

/*---
投稿一覧ページ
---*/
.archive h3 {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .archive h3 {
    font-size: 2.4rem;
  }
}

/*---
ページネーション
---*/
.pagenation-wrapper {
  margin-top: 80px;
}
.pagenation-wrapper .nav-links {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .pagenation-wrapper .nav-links {
    gap: 4px;
  }
}
.pagenation-wrapper .page-numbers {
  font-size: 4rem;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #B9B9B9;
}
@media screen and (max-width: 1640px) {
  .pagenation-wrapper .page-numbers {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }
}
.pagenation-wrapper .current {
  background-color: #0094FF;
  color: #fff;
}
.pagenation-wrapper .next {
  background-image: url("../../assets/images/pagenation_next.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
@media screen and (max-width: 1640px) {
  .pagenation-wrapper .next {
    background-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .pagenation-wrapper .next {
    background-size: 8px;
  }
}
.pagenation-wrapper .prev {
  background-image: url("../../assets/images/pagenation_prev.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
@media screen and (max-width: 1640px) {
  .pagenation-wrapper .prev {
    background-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .pagenation-wrapper .prev {
    background-size: 8px;
  }
}

/*---
プライバシーポリシーページ
---*/
.privacy-policy h3 {
  text-align: center;
}
@media screen and (max-width: 500px) {
  .privacy-policy h3 {
    font-size: 2rem;
  }
}
.privacy-policy__description {
  font-size: 2rem;
}
@media screen and (max-width: 1640px) {
  .privacy-policy__description {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .privacy-policy__description {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .privacy-policy__description {
    font-size: 1.4rem;
  }
}
.privacy-policy__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .privacy-policy__item-wrapper {
    grid-template-columns: 1fr;
  }
}
.privacy-policy__item {
  text-align: center;
  display: grid;
  gap: 36px;
  padding: 40px 16px;
}
@media screen and (max-width: 768px) {
  .privacy-policy__item {
    gap: 28px;
  }
}
.privacy-policy__item:first-child {
  border-right: solid 1px #222;
}
@media screen and (max-width: 768px) {
  .privacy-policy__item:first-child {
    border-right: none;
    border-bottom: solid 1px #222;
  }
}
@media screen and (max-width: 1640px) {
  .privacy-policy__item__text {
    font-size: 2rem;
  }
}
.privacy-policy__item__text.organizer {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.privacy-policy__item a {
  display: inline-block;
  border: solid 1px #222;
  border-radius: 8px;
  padding: 2px 32px;
  width: fit-content;
  margin: auto;
}
.privacy-policy__item a p {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1640px) {
  .privacy-policy__item a p {
    font-size: 1.6rem;
  }
}
.privacy-policy__item a p img {
  width: 20px;
  margin-left: 4px;
  margin-top: 2px;
}